<section class="section books" id="books">
	<div class="container">
		<h2 class="visually-hidden">Tranding Books</h2>
		<div class="filters">
			<ul class="info">
				<li>
					<h3>Books</h3>
					<p>
						Showing
						<span class="pagination-number">?</span>
						of
						<span class="pagination-all">?</span>
					</p>
				</li>
				<li>
					<button class="categories-btn" type="button">Categories</button>
					<svg class="icon" width="24" height="24">
						<use href="img/sprite.svg#icon-chevron"></use>
					</svg>
				</li>
			</ul>
			<ul class="categories">
				<li data-value="all">All Categories</li>
			</ul>
		</div>
		<ul class="books-list">
			<li>
				<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
					class="loading"
					alt=""
				/>
				<h3>
					<b class="loading">
						................................................
					</b>
					<span class="price loading">............</span>
				</h3>
				<p class="author loading">............... ............</p>
				<button class="btn" disabled>Learn More</button>
			</li>
			<li>
				<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
					class="loading"
					alt=""
				/>
				<h3>
					<b class="loading">
						................................................
					</b>
					<span class="price loading">............</span>
				</h3>
				<p class="author loading">............... ............</p>
				<button class="btn" disabled>Learn More</button>
			</li>
			<li>
				<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
					class="loading"
					alt=""
				/>
				<h3>
					<b class="loading">
						................................................
					</b>
					<span class="price loading">............</span>
				</h3>
				<p class="author loading">............... ............</p>
				<button class="btn" disabled>Learn More</button>
			</li>
			<li>
				<img
					src="data:image/gif;base64,R0lGODlhAQABAAAAACw="
					class="loading"
					alt=""
				/>
				<h3>
					<b class="loading">
						................................................
					</b>
					<span class="price loading">............</span>
				</h3>
				<p class="author loading">............... ............</p>
				<button class="btn" disabled>Learn More</button>
			</li>
		</ul>
		<button class="btn more visually-hidden">Show More</button>
	</div>
</section>
