<section class="section feedbacks" id="feedbacks">
	<div class="container">
		<h2 class="feedbacks-title">Customer Feedbacks</h2>
		<p class="feedbacks-text">See what our readers are saying about us!</p>
		<div class="swiper feedbacks-swiper">
			<ul class="swiper-wrapper feedbacks-list">
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Great selection, fast delivery, and beautifully packaged books. My
						go-to store for weekend reads!
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback1.webp    1x,
								./img/feedbacks/feedback1@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback1@2x.png 2x,
								./img/feedbacks/feedback1.png    1x
							"
						/>
						<img
							src="./img/feedbacks/feedback1.png"
							loading="lazy"
							alt="Jane Doe"
							width="48"
							height="48"
						/>
					</picture>
					<h3 class="feedbacks-item-title">Jane Doe</h3>
					<p class="feedbacks-item-text">Book Lover, Reader</p>
				</li>
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Customer service was super helpful, and my order arrived earlier
						than expected. Highly recommend!
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback2.webp    1x,
								./img/feedbacks/feedback2@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback2@2x.png 2x,
								./img/feedbacks/feedback2.png    1x
							"
						/>
						<img
							src="./img/feedbacks/feedback2.png"
							loading="lazy"
							alt="Jane Doe"
							width="48"
							height="48"
						/>
					</picture>
					<h3 class="feedbacks-item-title">John Smith</h3>
					<p class="feedbacks-item-text">Editor, BookMag</p>
				</li>
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Love the curated picks and clear descriptions. Makes it easy to find
						my next favorite book.
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback3.webp    1x,
								./img/feedbacks/feedback3@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback3@2x.png 2x,
								./img/feedbacks/feedback3.png    1x
							"
						/>
						<img
							src="./img/feedbacks/feedback3.png"
							loading="lazy"
							alt="Jane Doe"
							width="48"
							height="48"
						/>
					</picture>
					<h3 class="feedbacks-item-title">Emily Johnson</h3>
					<p class="feedbacks-item-text">Author, Novelist</p>
				</li>
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Great selection, fast delivery, and beautifully packaged books. My
						go-to store for weekend reads!
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback1.webp    1x,
								./img/feedbacks/feedback1@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback1.png    1x,
								./img/feedbacks/feedback1@2x.png 2x
							"
						/>
						<img
							src="./img/feedbacks/feedback1.png"
							loading="lazy"
							width="48"
							height="48"
							alt="Feedback Image"
						/>
					</picture>
					<h3 class="feedbacks-item-title">Jane Doe</h3>
					<p class="feedbacks-item-text">Book Lover, Reader</p>
				</li>
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Customer service was super helpful, and my order arrived earlier
						than expected. Highly recommend!
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback2.webp    1x,
								./img/feedbacks/feedback2@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback2.png    1x,
								./img/feedbacks/feedback2@2x.png 2x
							"
						/>
						<img
							src="./img/feedbacks/feedback2.png"
							loading="lazy"
							width="48"
							height="48"
							alt="Feedback Image"
						/>
					</picture>
					<h3 class="feedbacks-item-title">John Smith</h3>
					<p class="feedbacks-item-text">Editor, BookMag</p>
				</li>
				<li class="swiper-slide feedbacks-item">
					<p class="feedbacks-item-coment">
						Love the curated picks and clear descriptions. Makes it easy to find
						my next favorite book.
					</p>
					<picture>
						<source
							type="image/webp"
							srcset="
								./img/feedbacks/feedback3.webp    1x,
								./img/feedbacks/feedback3@2x.webp 2x
							"
						/>
						<source
							srcset="
								./img/feedbacks/feedback3.png    1x,
								./img/feedbacks/feedback3@2x.png 2x
							"
						/>
						<img
							src="./img/feedbacks/feedback3.png"
							loading="lazy"
							width="48"
							height="48"
							alt="Feedback Image"
						/>
					</picture>
					<h3 class="feedbacks-item-title">Emily Johnson</h3>
					<p class="feedbacks-item-text">Author, Novelist</p>
				</li>
			</ul>

			<ul class="feedbacks-btn">
				<li>
					<div class="swiper-pagination"></div>
				</li>
				<li>
					<button type="button" class="feedbacks-btn-arrow feedbacks-btn-prev">
						<svg class="feedbacks-arrow-left" width="24" height="24">
							<use href="./img/sprite.svg#icon-arrow"></use>
						</svg>
					</button>
					<button type="button" class="feedbacks-btn-arrow feedbacks-btn-next">
						<svg class="feedbacks-arrow-right" width="24" height="24">
							<use href="./img/sprite.svg#icon-arrow"></use>
						</svg>
					</button>
				</li>
			</ul>
		</div>
	</div>
</section>
