<div class="menu-overlay">
	<div class="menu">
		<div class="menu-overlay-icons-container">
			<a class="menu-overlay-logo" href="./index.html">
				<svg class="menu-overlay-icon" width="84" height="36">
					<use href="./img/sprite.svg#icon-logo"></use>
				</svg>
			</a>
			<button class="menu-close-btn" type="button">
				<svg class="menu-close-icon" width="24" height="24">
					<use href="./img/sprite.svg#icon-close"></use>
				</svg>
			</button>
		</div>
		<nav class="menu-overlay-nav">
			<ul class="menu-nav-list">
				<li class="menu-nav-item">
					<a class="menu-nav-link" href="./index.html">Home</a>
				</li>
				<li class="menu-nav-item">
					<a class="menu-nav-link" href="#books">Books</a>
				</li>
				<li class="menu-nav-item">
					<a class="menu-nav-link" href="#feedbacks">Feedbacks</a>
				</li>
				<li class="menu-nav-item">
					<a class="menu-nav-link" href="#events">Events</a>
				</li>
				<li class="menu-nav-item">
					<a class="menu-nav-link" href="#location">Location</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
